@import url("https://fonts.googleapis.com/css2?family=ABeeZee:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-open-sans: "Open Sans";
  --font-dm-sans: "DM Sans";
  --font-abeezee: ABeeZee;
  --font-inter: Inter;

  /* font sizes */
  --font-size-mini: 15px;
  --font-size-mid: 17px;
  --font-size-xs: 12px;
  --font-size-lg: 18px;
  --font-size-xl: 20px;
  --font-size-base: 16px;
  --font-size-11xl: 30px;
  --font-size-5xl: 24px;
  --font-size-17xl: 36px;
  --font-size-10xl: 29px;
  --font-size-3xl: 22px;
  --font-size-13xl: 32px;
  --font-size-lgi: 19px;
  --font-size-21xl: 40px;
  --font-size-26xl: 45px;
  --font-size-8xl: 27px;

  /* Colors */
  --color-white: #fff;
  --color-gray-100: #80858b;
  --color-gray-200: #2a2b2d;
  --color-gray-300: rgba(255, 255, 255, 0.5);
  --color-gray-400: rgba(255, 255, 255, 0.8);
  --color-yellowgreen: #92c557;
  --color-olivedrab: #5e9124;
  --color-black: #000;
  --color-cornflowerblue: #a79ff9;
  --color-mediumpurple: #756bc7;
  --color-midnightblue: #292175;
  --color-khaki: #f0dd91;
  --color-darkkhaki: #d6c478;
  --color-steelblue-100: #1f6da7;
  --color-dimgray: #5b5b5b;
  --color-lightblue: #abdceb;
  --color-palegoldenrod-100: #ffe6a1;
  --color-palegoldenrod-200: #d7fbac;
  --color-gainsboro-100: #e3e3e3;

  /* Gaps */
  --gap-base: 16px;
  --gap-xl: 20px;
  --gap-129xl: 148px;
  --gap-55xl: 74px;
  --gap-9xs: 4px;
  --gap-lgi: 19px;
  --gap-3xs: 10px;
  --gap-3xl-6: 22.6px;
  --gap-xs: 12px;
  --gap-32xl-2: 51.2px;
  --gap-8xl: 27px;
  --gap-19xl: 38px;
  --gap-6xl: 25px;
  --gap-4xl: 23px;
  --gap-mini: 15px;
  --gap-114xl: 133px;
  --gap-14xl: 33px;
  --gap-mid: 17px;
  --gap-47xl: 66px;
  --gap-10xl: 29px;
  --gap-13xl-9: 32.9px;
  --gap-58xl: 77px;
  --gap-lg: 18px;
  --gap-2xs: 11px;
  --gap-66xl: 85px;
  --gap-2xl: 21px;
  --gap-23xl: 42px;
  --gap-20xl-8: 39.8px;
  --gap-6xs: 7px;
  --gap-38xl-1: 57.1px;
  --gap-41xl-2: 60.2px;
  --gap-xs-7: 11.7px;
  --gap-smi: 13px;
  --gap-62xl: 81px;
  --gap-21xl: 40px;
  --gap-11xl: 30px;
  --gap-75xl: 94px;
  --gap-24xl: 43px;
  --gap-10xl-7: 29.7px;
  --gap-77xl: 96px;

  /* Paddings */
  --padding-17xl: 36px;
  --padding-18xl: 37px;
  --padding-63xl: 82px;
  --padding-86xl: 105px;
  --padding-36xl: 55px;
  --padding-129xl: 148px;
  --padding-7xl: 26px;
  --padding-386xl: 405px;
  --padding-55xl: 74px;
  --padding-33xl: 52px;
  --padding-9xs: 4px;
  --padding-12xs: 1px;
  --padding-7xs: 6px;
  --padding-8xs: 5px;
  --padding-10xs: 3px;
  --padding-lg: 18px;
  --padding-2xl: 21px;
  --padding-5xs-3: 7.3px;
  --padding-mid: 17px;
  --padding-6xs-9: 6.9px;
  --padding-3xs-6: 9.6px;
  --padding-3xl: 22px;
  --padding-28xl: 47px;
  --padding-475xl: 494px;
  --padding-107xl: 126px;
  --padding-44xl: 63px;
  --padding-4xl: 23px;
  --padding-190xl: 209px;
  --padding-xl: 20px;
  --padding-302xl: 321px;
  --padding-73xl: 92px;
  --padding-41xl: 60px;
  --padding-3xs: 10px;
  --padding-6xl: 25px;
  --padding-3xs-4: 9.4px;
  --padding-149xl: 168px;
  --padding-128xl: 147px;
  --padding-148xl: 167px;
  --padding-64xl: 83px;
  --padding-65xl: 84px;
  --padding-77xl: 96px;
  --padding-50xl: 69px;
  --padding-68xl: 87px;
  --padding-25xl-6: 44.6px;
  --padding-24xl: 43px;
  --padding-26xl: 45px;
  --padding-10xl: 29px;
  --padding-154xl: 173px;
  --padding-67xl: 86px;
  --padding-5xl: 24px;
  --padding-11xl: 30px;
  --padding-38xl: 57px;
  --padding-sm: 14px;
  --padding-2xs: 11px;
  --padding-5xs: 8px;
  --padding-6xs: 7px;
  --padding-80xl: 99px;
  --padding-81xl-1: 100.1px;
  --padding-4xs-5: 8.5px;
  --padding-xs: 12px;
  --padding-mid-9: 17.9px;
  --padding-60xl: 79px;
  --padding-32xl: 51px;
  --padding-14xl: 33px;
  --padding-34xl: 53px;
  --padding-30xl: 49px;
  --padding-8xl: 27px;
  --padding-lgi: 19px;
  --padding-181xl: 200px;
  --padding-182xl: 201px;
  --padding-81xl: 100px;
  --padding-161xl: 180px;
  --padding-119xl: 138px;
  --padding-136xl: 155px;
  --padding-58xl: 77px;
  --padding-71xl: 90px;
  --padding-16xl: 35px;
  --padding-575xl: 594px;
  --padding-278xl: 297px;
  --padding-9xl: 28px;
  --padding-97xl: 116px;
  --padding-56xl: 75px;
  --padding-37xl: 56px;
  --padding-46xl: 65px;
  --padding-61xl: 80px;
  --padding-13xl: 32px;
  --padding-21xl: 40px;
  --padding-108xl: 127px;
  --padding-35xl: 54px;
  --padding-200xl: 219px;
  --padding-62xl: 81px;
  --padding-20xl: 39px;

  /* Border radiuses */
  --br-11xl: 30px;
  --br-15xl: 34px;
  --br-56xl: 75px;
  --br-6xl: 25px;
  --br-21xl: 40px;
  --br-18xl: 37px;
  --br-5xs: 8px;
}
